<div class="navbar navbar-default" ng-controller="UserController">
    <div class="container">
        <div class="navbar-collapse collapse" ng-if="isAuthenticated" id="navbar-main">
            <ul class="nav navbar-nav">

                <li>
                  <a href="#/dashboardAdmin" ng-if="isAdmin">Home page</a>
                </li>
                <li>
                    <a href="#/editUserProfile" ng-if="isAuthenticated">Edit profile</a>
                </li>
                <li>
                  <a href="#/getAllUsers" ng-click="getUsers()" ng-if="isAdmin">Get all users</a>
                </li>
                <!--
                <li>
                  <a href ng-click="makeCurrentUserAdmin()" ng-if="isAdmin">Make Admin</a>
                </li>
                -->
              <li>
                <a href="#/changePassword" ng-click="changePassword()">Change password</a>
              </li>
              <li>
                <a href="#/logout" ng-click="logout()">Logout</a>
              </li>
            </ul>
            <span class=" nav navbar-nav">
                <div class="rigth">
                    User: {{username}} &nbsp;&nbsp;isAdmin: {{isAdmin}}
                </div>
            </span>
        </div>
      <h1 class="main-header text-center">Welcome to Issue Tracker System!</h1>
    </div>

</div>

