<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<body>
    <div class="jumbotron" ng-controller="UserController">
        <h3 class="text-center">All users</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Username</td>
                <td>Is Admin</td>
                <td>User id</td>
            </tr>
            </thead>
            <tbody ng-repeat="user in Users | orderBy: 'Username'">
            <tr>
                <td>{{user.Username}}</td>
                <td>{{user.isAdmin}}</td>
                <td>{{user.Id}}</td>
                <td>
                    <a href>
                        <button ng-disabled="user.isAdmin" ng-click="makeUserAdmin(user.id, user.Username)" class="btn btn-primary button">
                            Make admin
                        </button>
                    </a>
                </td>
                <!--
                <td>
                    <a href="#/changePassword/{{user.Id}}">
                        <button ng-click="changePaassword(user.Id)" class="btn btn-primary button">
                            Change Pass
                        </button>
                    </a>
                </td>
                -->
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
