<div class="row">
    <div class="col-md-5 col-md-offset-1 border">
        <form name="changeUserPasswordForm">
            <label for="oldPassword">Old password</label>
            <input type="password" id="oldPassword" required="required" ng-model="registerUser.OldPassword" class="form-control">
            <br/>
            <label for="newPassword">New password</label>
            <input type="password" id="newPassword" required="required" minlength="4" maxlength="20" ng-model="registerUser.NewPassword" class="form-control">
            <br/>
            <label for="confirmNewPassword">Confirm password</label>
            <input type="password" id="confirmNewPassword" required="required" minlength="4" maxlength="20" ng-model="registerUser.ConfirmPassword" class="form-control">
            <br/>

            <button class="btn btn-primary" ng-disabled="changeUserPasswordForm.$invalid || registerUser.newPassword != registerUser.confirmNewPassword" ng-click="changePassword(registerUser)">Change Password</button>
            <a href="#/"><button class="btn btn-primary">Cancel</button></a>
        </form>
    </div>
</div>