<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<body>
<div class="jumbotron" ng-controller="UserController">
    <form name="changeUserPasswordForm">
        <label for="oldPassword">Old password</label>
        <input type="password" id="oldPassword" required="required" ng-model="registerUser.OldPassword" class="form-control">
        <br/>
        <label for="newPassword">New password</label>
        <input type="password" id="newPassword" required="required" minlength="6" maxlength="20" ng-model="registerUser.NewPassword" class="form-control">
        <br/>
        <label for="confirmNewPassword">Confirm password</label>
        <input type="password" id="confirmNewPassword" required="required" minlength="6" maxlength="20" ng-model="registerUser.ConfirmPassword" class="form-control">
        <br/>

        <button class="btn btn-success" ng-disabled="changeUserPasswordForm.$invalid || registerUser.newPassword != registerUser.confirmNewPassword" ng-click="changePassword(registerUser)">Change Password</button>
        <a href="#/dashboardAdmin"><button class="btn btn-success">Cancel</button></a>
    </form>
</div>
</body>
</html>