<label for="projectLeader">Leader</label>
<select ng-model="project.LeadId" id="projectLeader" data-ng-controller="UserController" data-ng-init="getAllUsers()">
    <option value="">---Please slect---</option>
    <option  ng-repeat="user in allUsers | orderBy:'Username'" value="{{user.Id}}">{{user.Username || project.LeadId}}</option>
</select>
<!--
<input type="text"
       ng-model="project.LeadId"
       id="selectedUser"
       value="{{project.LeadId.Username}}"
       style="width: 400px">
</div>
->>
