<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<body ng-controller="IssueController">
<div class="jumbotron">
    <h2>All projects.</h2>
    <table class="table table-striped" >
        <thead>
        <tr>
            <td>Project number</td>
            <td>Project name</td>
            <td>Project leader</td>
        </tr>
        </thead>
        <tbody >
        <tr ng-repeat="project in allProjects">
            <td class="text-center">{{project.Id}}</td>
            <td>{{project.Name}}</td>
            <td>{{project.Lead.Username}}</td>
            <td>
                <a href="#/project/{{project.Id}}">
                    <button ng-click="getProjectById(project)" class="btn btn-primary button">
                        View
                    </button>
                </a>
            </td>
            <td>
                <a href="#/editProject/{{project.Id}}">
                    <button ng-click="editExistingProject(project)" class="btn btn-primary button">
                        Edit
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="#/dashboardAdmin"><button class="btn btn-primary">Cancel</button></a>
</div>

</body>
</html>
