
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new issue</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<body>
<div class=jumbotron ng-controller="IssueController">
    <h2 style="margin-top: 0"> Add new Issue</h2>
    <form name="issueData" ng-submit="addIssue(issue)">
        <div class="form-group">
            <label for="addNewIssueTitle">Title</label>
            <input type="text" class="form-control" required="required" ng-model="issue.Title" id="addNewIssueTitle" placeholder="Issue Title"/>
        </div>
        <div class="form-group" ng-include="'app/issues/selectIssueUser.html'">
        </div>
        <div class="form-group" ng-include="'app/issues/selectProject.html'">
        </div>

        <div class="form-group">
            <label for="addNewIssuePriority">Priority</label>
            <select class="form-control" required="required" id="addNewIssuePriority" ng-model="issue.PriorityId">
                <option value="1">High</option>
                <option value="1">Medium</option>
                <option value="1">Low</option>
            </select>
        </div>
        <!--
        <div class="form-group">
            <label for="addNewIssuePriority">Priority</label>
            <input type="text" class="form-control" ng-model="issue.PriorityId" id="addNewIssuePriority" />
        </div>
        -->
        <div class="form-group">
            <label for="addNewIssueDueDate">Due Date</label>
            <input type="date" class="form-control" required="required" ng-model="issue.DueDate" id="addNewIssueDueDate" placeholder="dd/mm/yyyy"/>
        </div>
        <div class="form-group">
            <label for="addNewIssueLabels">Labels (comma separated)</label>
            <input type="text" class="form-control" required="required" ng-model="issue.Labels" id="addNewIssueLabels" placeholder="Labels" value="Soft"/>
            <br>
        </div>
        <div class="form-group">
            <label for="addNewIssueDescription">Description</label>
            <textarea class="form-control" required="required" ng-model="issue.Description" placeholder="Description" id="addNewIssueDescription"></textarea>
        </div>
        <button class="btn btn-success" ng-disabled="issueData.$invalid" type="submit">Add Issue</button>
        <a href="#/dashboardAdmin"><button class="btn btn-success">Cancel</button></a>
    </form>
</div>
</body>
</html>
