<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<body>
<div class=jumbotron>
<h1>Dashboard</h1>
	<a href="#/addNewProject"> <button class="btn btn-lg btn-success" >Add New Project</button></a>
	<a href="#/addNewIssue"><button class="btn btn-lg btn-success">Add New Issue</button></a>
	<button class="btn btn-lg btn-success" ng-click="projectServices.getAllProjects()">Get All Projects</button>
	<button class="btn btn-lg btn-success" ng-click="projectServices.getProjectById()">Get Project by Id</button>

	<table class="table table-striped" >
		<thead>
		<tr>
			<td>Project number</td>
			<td>Project name</td>
			<td>Project description</td>
		</tr>
		</thead>
		<tbody >
		<tr ng-repeat="project in allProjects">
			<td>{{project.Id}}</td>
			<td>{{project.Name}}</td>
			<td>{{project.Lead.Username}}</td>
			<td>
				<a href="#/project/{{project.Id}}">
					<button ng-click="projectServices.getAllProjects(project.Id)" class="btn btn-primary button">
						View
					</button>
				</a>
			</td>
		</tr>
		</tbody>
	</table>


</div>
</body>
</html>